<div class="content">
  <nz-water-mark nzContent="时代仪表">
    <!-- <nz-spin nzSimple [nzSize]="'large'" [nzSpinning]="isSpinning"></nz-spin> -->
    <div class="top">
      <div class="top_left">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="输入模糊筛选表号" [(ngModel)]="meterNum" (input)="onInput()" />
        </nz-input-group>
        <nz-input-group style="margin-left: 20px;" [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="输入模糊验证表号" [(ngModel)]="meterNum_2" (input)="onInput_2()" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType=" search"></span>
        </ng-template>
      </div>
      <div class="top_right">
        <button nz-button (click)="openSpreadPhoto()" nzType="dashed">
          <span nz-icon nzType="caret-down" nzTheme="outline"></span>
          散点图</button>
        <nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="流量/diff 散点图"
          (nzOnClose)="closeSpreadPhoto()">
          <ng-container *nzDrawerContent>
            <div><canvas #chartCanvas style="width: 100%; height: 400px;"></canvas></div>
            <div style="margin-top: 25px;">
              <p style="margin-bottom: 5px;">meterNum:</p>
              <textarea nz-input placeholder="表号(不要有空格,多个表号用英文逗号隔开)" nzSize="large" [(ngModel)]="meterNum_1"
                (input)="onInput_1()" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
            </div>
            <div style="margin-top: 15px;">
              <p style="margin-bottom: 5px;">tempPoint:</p>
              <input nz-input placeholder="温度点" nzSize="large" [(ngModel)]="tempPoint" (input)="onInput_1()" />
            </div>
          </ng-container>
        </nz-drawer>

        <button nz-button (click)="openSpreadPhoto_1()" nzType="dashed">
          <span nz-icon nzType="caret-down" nzTheme="outline"></span>
          反比例图</button>
        <nz-drawer [nzClosable]="false" [nzVisible]="visible_1" [nzPlacement]="placement" nzTitle="温度/sum 散点图"
          (nzOnClose)="closeSpreadPhoto_1()">
          <ng-container *nzDrawerContent>
            <div><canvas #chartCanvas style="width: 100%; height: 400px;"></canvas></div>
            <div style="margin-top: 25px;">
              <p style="margin-bottom: 5px;">meterNum:</p>
              <textarea nz-input placeholder="表号(不要有空格,多个表号用英文逗号隔开)" nzSize="large" [(ngModel)]="meterNum_3"
                (input)="onInput_3()" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
            </div>
          </ng-container>
        </nz-drawer>

        <button nz-button (click)="refreshPage()" nzType="default">
          <span nz-icon nzType="down" nzTheme="outline"></span>
          刷新</button>
        <button nz-button (click)="exportExcel_1()" nzType="primary" nzSize="default" nzShape="round">
          <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>
          筛选数据
        </button>
        <button nz-button (click)="exportExcel_2()" nzType="primary" nzSize="default" nzShape="round">
          <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>
          特征化数据
        </button>
        <button nz-button (click)="exportExcel_3()" nzType="primary" nzSize="default" nzShape="round">
          <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>
          验证数据
        </button>
        <button nz-button (click)="exportExcel_4()" nzType="primary" nzSize="default" nzShape="round">
          <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>
          误差表数据
        </button>
      </div>
    </div>
    <div class="body">
      <div class="table_height">
        <nz-table #basicTable nzTableLayout="fixed" [nzData]="clearDataArray" nzFrontPagination="true"
          [nzScroll]="{ x: '2400px' }" [nzPageSize]="pageSize" nzShowPagination="true" nzTableFullHeight>
          <thead>
            <tr>
              <th nzLeft [nzSortFn]="sortCodeFn" nzSortOrder="sortOrder" class="longerField">time</th>
              <th nzLeft nzSortOrder="sortOrder">meterNum</th>
              <th [nzSortFn]="sortNameFn" nzSortOrder="sortOrder">diffTofNs</th>
              <th nzSortOrder="sortOrder">meterFlowM3h</th>
              <th nzSortOrder="sortOrder">standardFlow</th>
              <th nzSortOrder="sortOrder">flowMode</th>
              <th nzSortOrder="sortOrder">tmpIn</th>
              <th nzSortOrder="sortOrder">tmpOut</th>
              <th nzSortOrder="sortOrder">tmpTable</th>
              <th nzSortOrder="sortOrder">tofUp</th>
              <th nzSortOrder="sortOrder">tofDown</th>
              <th nzSortOrder="sortOrder">pwrUp</th>
              <th nzSortOrder="sortOrder">pwrDown</th>
              <th nzSortOrder="sortOrder">ampDown</th>
              <th nzSortOrder="sortOrder">flowPoint 1L/h</th>
              <th nzSortOrder="sortOrder">tempPoint</th>
              <th nzRight [nzSortFn]="sortStateFn" nzSortOrder="sortOrder">ampUp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dat of basicTable.data; let i = index">
              <td nzLeft nzEllipsis nzTooltipOverflowEllipsis>{{ dat.time | date:'yyyy-MM-dd HH:mm:ss.SSS'}}</td>
              <td nzLeft nzEllipsis nzTooltipOverflowEllipsis>
                {{ dat.meterNum }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.diffTofNs }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.meterFlowM3h }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.standardFlow }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.flowMode }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.tmpIn }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.tmpOut }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.tmpTable }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.tofUp }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.tofDown }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.pwrUp }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.pwrDown }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.ampDown }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.flowPoint }}</td>
              <td nzEllipsis nzTooltipOverflowEllipsis>{{ dat.tempPoint }}</td>
              <td nzRight nzEllipsis nzTooltipOverflowEllipsis>{{ dat.ampUp }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-water-mark>
  <router-outlet></router-outlet>
</div>
<!--<a routerLink="joker">Go to joker Component</a>-->
<!--<router-outlet></router-outlet>-->
